@import 'styles/colors.scss';


.app-dashboard {
  display: flex;
  &-main {
    width: 75%;
    app-counter-card {
      display: inline-block;
    }
  }

  &__sidebar{
    width: 25%;
    padding: 16px;
  }

}
