@import "styles/colors.scss";
.header {
  border-top: 2px solid $primary;
  padding: 8px 5%;
  display: flex;
  justify-content: space-between;

  .header-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
  }
  &__title {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    .logo{
      height: 22px;
    }
  }

  &__navigation {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
  }
}
