<div class="app-dashboard">
  <div class="spinner" *ngIf="isLoading$ | async">
    <app-spinner></app-spinner>
  </div>
  <ng-container  *ngIf="!(isLoading$ | async)">
    <div class="app-dashboard__main">
      <app-empresa-info-display
      title="Clientes de"
      ></app-empresa-info-display>
      <app-clientes-table
         class="app-table"
        *ngIf="clientesPagination as clientes"
        [tableData]="clientes.data"
        [tableColumns]="clientesTableColumns"
        [isPageable]="true"
        [isSortable]="true"
        [paginationSizes]="[2,4,6]"
        [defaultPageSize]="clientes.pageSize"
        [rowActionIcon]="'edit'"
        (rowAction)="removeCliente($event)">
      ></app-clientes-table>
    <button mat-flat-button color="primary" routerLink="nuevo">Añadir cliente</button>
    </div>
  </ng-container>

</div>
