<div class="app-dashboard">
  <div class="app-dashboard__main">
    <div class="app-dashboard__header">
      <h2>Mis empresas</h2>
    </div>
    <mat-card class="app-card">
      <mat-card-header class="app-card__header">
        <div mat-card-avatar class="mat-card-avatar_default"><span>MS</span></div>
        <!-- <div mat-card-avatar class="example-header-image">MS</div> -->
        <mat-card-title>Mantenimiento Sanchez</mat-card-title>
        <mat-card-subtitle>89907677E</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="app-card__content">
        <mat-accordion>
          <div class="mat-accordion__actions">
            <h3>Direcciones guardadas</h3>
            <span>Añadir nueva</span>
          </div>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img mat-card-sm-image src="../../../../../assets/location-on-map.svg">
                <div>
                  <h3>Calle Córcega nº12</h3>
                  <span>Barcelona (08020)</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="list-group">
              <li>
                <mat-icon> location_on</mat-icon>Barcelona - España
              </li>
              <li>
                <mat-icon> phone</mat-icon>937486622
              </li>
              <li>
                <mat-icon> email</mat-icon>empresa.test@gmail.com
              </li>
              <li>
                <mat-icon>language</mat-icon>https://empresatest.es/
              </li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img mat-card-sm-image src="../../../../../assets/location-on-map.svg">
                <div>
                  <h3>Calle Córcega nº12</h3>
                  <span>Barcelona (08020)</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="list-group">
              <li>
                <mat-icon> location_on</mat-icon>Barcelona - España
              </li>
              <li>
                <mat-icon> phone</mat-icon>937486622
              </li>
              <li>
                <mat-icon> email</mat-icon>empresa.test@gmail.com
              </li>
              <li>
                <mat-icon>language</mat-icon>https://empresatest.es/
              </li>
            </ul>
          </mat-expansion-panel>        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img mat-card-sm-image src="../../../../../assets/location-on-map.svg">
                <div>
                  <h3>Calle Córcega nº12</h3>
                  <span>Barcelona (08020)</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="list-group">
              <li>
                <mat-icon> location_on</mat-icon>Barcelona - España
              </li>
              <li>
                <mat-icon> phone</mat-icon>937486622
              </li>
              <li>
                <mat-icon> email</mat-icon>empresa.test@gmail.com
              </li>
              <li>
                <mat-icon>language</mat-icon>https://empresatest.es/
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="app-dashboard__sidebar">
    <div class="section">
      <h3>Clientes</h3>
      <p>Listado de clientes recientes</p>
      <div >
        <div class="cleintes">
          <h4>Papeleria Nou Barris</h4>
          <span>92283200P</span>
        </div>
        <span>Detalles</span>
      </div>
    </div>
  </div>


</div>
