$base:#f3f4f6;
$base-dark: #ececec ;
$base-light: #fff;
$on-base: #1f2937;

$primary: #03558c;
$primary-dark:#002d5e;
$primary-light:#4b81bc;
$on-primary: #ffffff;

$secondary: #cad2ff;
$secondary-dark:#99a1cc;
$secondary-light:#feffff;
$on-secondary: $on-base;

$success:#227A1A;
$on-success: $base;

$error:#CC2516;
$on-error: $base;

