@import 'styles/colors.scss';


.header {
  margin-bottom: 3rem;
  &-title {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    &-logo {
      font-size: 2rem;
      font-weight: 500;
      color: #ececec;
      background-color: #4253d5;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 60%;
        width: 60%;
      }
    }

    &-text {
      h2 {
        margin: 0;
      }
    }
  }
}

.header__new {
  background-color: #4253d51c;
  padding: 1rem;
  border: 1px dashed $primary;

  &-title {
    &-logo {
      .app-a {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }


  .app-a {
    margin: 0;
  }
}
