<div class="app-dashboard">
  <div class="spinner" *ngIf="isLoading$ | async">
    <app-spinner></app-spinner>
  </div>
  <ng-container  *ngIf="!(isLoading$ | async)">
    <div class="app-dashboard__main">
      <div class="app-dashboard__header">
        <h1>Empresas</h1>
      </div>
      <app-empresas-table
      class="app-table"
      *ngIf="pagination as pagintation"
      [tableData]="pagintation.data"
      [tableColumns]="empresasTableColumns"
      [isPageable]="true"
      [isSortable]="true"
      [paginationSizes]="[2,4,6]"
      [defaultPageSize]="pagination.pageSize"
      [rowActionIcon]="'edit'"
      (rowAction)="removeEmpresa($event)"
      ></app-empresas-table>
      <button mat-flat-button color="primary" routerLink="nueva">Nueva empresa</button>
    </div>
  </ng-container>

</div>
