<div class="app-dashboard">
  <div class="spinner" *ngIf="empresasLoading$ | async">
    <b>Loading...</b>
  </div>

  <div class="app-dashboard__main">
    <div class="app-dashboard__header">
      <h1>Empresas</h1>
    </div>
    <app-empresa-detail *ngIf="empresasPagination$ | async as pagination" [empresa]=" pagination.data[0]"></app-empresa-detail>
  </div>

  <div class="app-dashboard__sidebar">
    <app-empresa-list *ngIf="empresasPagination$ | async as pagination" [empresas]=" pagination.data"></app-empresa-list>
  </div>

</div>
